

<h1>Welcome to escamboApp.com, <%= @admin.name %></h1>
<p>
  Your data have successfully update up to escamboApp,
  your username is: <%= @admin.email %>.<br>
</p>
<p>
  To login to the site, just follow this link: escamboApp.com.
</p>
<p>Thanks for joining and have a great day!</p>
